- content_for :header do
  %h1
    = navigable_header_link
    \- kwatera
    = @quarter.name

%section.quarter
  %figure.map
    = render file: @quarter.map

  %section.sepulchres
    %header
      = form_tag part_quarter_path(@part, @quarter), method: :get do
        = text_field_tag :search, params[:search]
        = submit_tag t("links.search")

    %section.results
      - if @sepulchres.empty?
        %span Brak wyników wyszukiwania
      - else
        %dl
          - @sepulchres.each_with_index do |sepulchre, index|
            %dt{ "data-number" => sepulchre.number }
              = link_to sepulchre.decedent, part_quarter_sepulchre_path(@part, @quarter, sepulchre)
              %span.additional
                - if sepulchre.birth_date.present?
                  ur.
                  = sepulchre.birth_date
                - if sepulchre.burial_date.present?
                  zm.
                  = sepulchre.burial_date
                = link_to "kwatera #{sepulchre.quarter.name}", part_quarter_path(@part, sepulchre.quarter)
            %dd= truncate(strip_tags(sepulchre.description), length: 100)
      = paginate @sepulchres
    .clear
