%section.intro
  %section.map
    %figure
      = render file: Rails.root.join("public").join("system").join("map.svg")

  %section.explanation
    %header
      %h1= navigable_header_link
    %p Witamy na stronie Starego Cmentarza w Łodzi.
    %p Poniżej znajdziecie Państwo opisy poszczególnych części cmentarza oraz, w części ewangelickiej, wyszukiwarkę osób pochowanych na cmentarzu wraz z mapą kwater.
    %footer
      %ul
        - @parts.each do |part|
          %li{ id: "#{part.slug}_part_link" }
            - if part.avaliable
              = link_to part.name, part_path(part)
            - else
              %span
                = part.name
                (niedostępny)
