= anchor(:partners)
%section.partners
  %header
    %h2 Partnerzy

  .logos
    %figure= link_to(image_tag(image_path("partners/01_mwd.png")), "http://www.mlodziez.org.pl/")
    %figure= link_to(image_tag(image_path("partners/02_tonsc.png")), "#")
    %figure= link_to(image_tag(image_path("partners/03_scheibler.png")), "http://www.scheibler.org.pl")
    %figure= link_to(image_tag(image_path("partners/04_tonz.png")), "http://www.tonz.org.pl/lodz/aktualnosci/")
    %figure= link_to(image_tag(image_path("partners/06_gpo.png")), "http://gpo.blox.pl/html")
    %figure= link_to(image_tag(image_path("partners/05_fenomen.png")), "http://www.fundacjafenomen.pl")
    %figure= link_to(image_tag(image_path("partners/07_kmst.png")), "http://www.kmst.mpk.lodz.pl")
    %figure= link_to(image_tag(image_path("partners/08_pea.png")), "http://www.mateusz.org.pl")
    %figure= link_to(image_tag(image_path("partners/09_shelly.png")), "https://shellycloud.com/")

  %ol
    %li
      Projekt
      %strong
        Stary Cmentarz 2.0
      jest realizowany przy wsparciu finansowym Komisji Europejskiej, w ramach programu
      = link_to "Młodzież w działaniu", "http://www.mlodziez.org.pl/"

    %li= link_to "Towarzystwo Opieki nad Starym Cmentarzem przy ulicy Ogrodowej w Łodzi", "#"

    %li= link_to "Fundacja na Rzecz Ratowania Kaplicy Scheiblera", "http://www.scheibler.org.pl"

    %li= link_to "Towarzystwo Opieki nad Zabytkami", "http://www.tonz.org.pl/lodz/aktualnosci/"

    %li= link_to "Fundacja Normalne Miasto - Fenomen", "http://www.fundacjafenomen.pl"

    %li= link_to "Grupa Pewnych Osób", "http://gpo.blox.pl/html"

    %li= link_to "Klub Miłośników Starych Tramwajów w Łodzi", "http://www.kmst.mpk.lodz.pl"

    %li= link_to "Parafia Ewangelicko - Augsburska św. Mateusza w Łodzi", "http://www.mateusz.org.pl"

    %li
      Projekt
      %strong
        Stary Cmentarz 2.0
      jest hostowany na
      = link_to "Shelly Cloud", "https://shellycloud.com/"

  .clear
