- content_for :header do
  %h1 Stary Cmentarz

%section.sepulchres
  %header
    = render partial: "sepulchres/search_form"

  %section.map
    = render partial: "map"

  %section.results
    %dl
      - @sepulchres.each_with_index do |sepulchre, index|
        %dt
          = index + 1
          \.
          = link_to sepulchre.decedent, sepulchre_path(@part, sepulchre)
          %span.birth= sepulchre.birth
          %span.burial= sepulchre.burial
        %dd= truncated_sepulchre_history(sepulchre)

  .clear
