%section.map
  %figure
    %img{ src: "http://maps.googleapis.com/maps/api/staticmap?sensor=false&center=51.77622,19.43413&zoom=17&size=500x500&maptype=roadmap&markers=color:0x009933%7Clabel:1%7C51.77580,19.43342&markers=color:0x009933%7Clabel:2%7C51.77727,19.43487" }

%section.sepulchres
  %header
    = text_field_tag("search")
    %hr

  %dl
    - @sepulchres.each_with_index do |sepulchre, index|
      %dt
        = index + 1
        \.
        = link_to sepulchre.decedent, sepulchre_path(@part, sepulchre)
        %span
          .birth= sepulchre.birth
          .burial= sepulchre.burial
      %dd= truncate(sepulchre.history, length: 500)
