- content_for :map do
  = render partial: "map"

%section.sepulchres
  %header
    = render partial: "sepulchres/search_form"
    %hr

  %dl
    - @sepulchres.each_with_index do |sepulchre, index|
      %dt
        = index + 1
        \.
        = link_to sepulchre.decedent, sepulchre_path(@part, sepulchre)
        %span
          .birth= sepulchre.birth
          .burial= sepulchre.burial
      %dd= truncated_sepulchre_history(sepulchre)
