- content_for :header do
  %h1
    = navigable_header_link
    \-
    = @sepulchre.decedent

%section.sepulchre

  %aside.media
    %figure.map{ "data-number" => @sepulchre.number }
      = link_to part_quarter_path(@sepulchre.part, @sepulchre.quarter) do
        = render file: @sepulchre.quarter.map
    - @sepulchre.photos.each do |photo|
      %figure= link_to(image_tag(photo.photo.url(:thumb), height: "100"), photo.photo.url(:big))

  %aside
    .detail
      %h5 Część
      = link_to @sepulchre.part.name, part_path(@sepulchre.part)

    .detail
      %h5 Kwatera
      = link_to @sepulchre.quarter.name, part_quarter_path(@sepulchre.part, @sepulchre.quarter)
      pole
      = @sepulchre.number

    .detail
      %h5 Imię
      = @sepulchre.name

    .detail
      %h5 Nazwisko
      = @sepulchre.surname

    - if @sepulchre.birth_date.present?
      .detail
        %h5 Data urodzenia
        = @sepulchre.birth_date

    - if @sepulchre.burial_date.present?
      .detail
        %h5 Data śmierci
        = @sepulchre.burial_date

  - if [@sepulchre.family_name, @sepulchre.birth_location, @sepulchre.burial_location, @sepulchre.complex, @sepulchre.gravestone, @sepulchre.profession].compact.present?
    %aside
      - if @sepulchre.family_name.present?
        .detail
          %h5 Z domu
          = @sepulchre.family_name

      - if @sepulchre.birth_location.present?
        .detail
          %h5 Miejsce urodzenia
          = @sepulchre.birth_location

      - if @sepulchre.burial_location.present?
        .detail
          %h5 Miejsce śmierci
          = @sepulchre.burial_location

      - if @sepulchre.profession.present?
        .detail
          %h5 Zawód
          = @sepulchre.profession

      - if @sepulchre.complex.present?
        .detail
          %h5 Grób
          = @sepulchre.complex

      - if @sepulchre.gravestone.present?
        .detail
          %h5 Nagrobek
          = @sepulchre.gravestone.html_safe

  - if @sepulchre.description.present?
    = @sepulchre.description.html_safe
