- content_for :header do
  %h1
    = navigable_header_link
    \-
    = @sepulchre.decedent

%section.sepulchre
  %aside
    %figure= static_map_for_collection [@sepulchre], width: 150, height: 150

    %dl
      %dt Urodzony(a)
      %dd= @sepulchre.birth

      %dt Zmarły(a)
      %dd= @sepulchre.burial

  %h3 Historia
  = @sepulchre.history.html_safe
