- content_for :header do
  %h1
    = navigable_header_link
    \-
    = @sepulchre.decedent

%section.sepulchre
  %aside
    %section
      - @sepulchre.photos.each do |photo|
        %figure= link_to(image_tag(photo.photo.url(:thumb), height: "100"), photo.photo.url(:big))
      .clear

    %dl
      %dt Część
      %dd= link_to @sepulchre.part.name, part_path(@sepulchre.part)

      %dt Kwatera
      %dd
        = link_to @sepulchre.quarter.name, part_quarter_path(@sepulchre.part, @sepulchre.quarter)
        pole
        = @sepulchre.number

      %dt Imię
      %dd= @sepulchre.name

      %dt Nazwisko
      %dd= @sepulchre.surname

      - if @sepulchre.family_name.present?
        %dt Z domu
        %dd= @sepulchre.family_name

      - if @sepulchre.birth_date.present?
        %dt Data urodzenia
        %dd= @sepulchre.birth_date

      - if @sepulchre.burial_date.present?
        %dt Data śmierci
        %dd= @sepulchre.burial_date

      - if @sepulchre.birth_location.present?
        %dt Miejsce urodzenia
        %dd= @sepulchre.birth_location

      - if @sepulchre.complex.present?
        %dt Grób
        %dd= @sepulchre.complex

      - if @sepulchre.gravestone.present?
        %dt Nagrobek
        %dd= @sepulchre.gravestone

  %h3 Opis
  = @sepulchre.description
  .clear
