%p
  = link_to "Stary Cmentarz", root_path
  = link_to "Aktualności", root_path(anchor: "news")
  = link_to "Historia", root_path(anchor: "history")
  = link_to "Jak możesz pomóc", root_path(anchor: "your_help")
  = link_to "Partnerzy", root_path(anchor: "partners")
  = link_to "Kontakt", root_path(anchor: "contact")
