%title= application_title
= stylesheet_link_tag "application", media: "all"
= stylesheet_link_tag params[:controller]
= javascript_include_tag "application"
= javascript_include_tag params[:controller]
= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyCwz1FmNjMddwSKUwsdp0sHU2kOkCOMQzM&sensor=false&language=pl"
= csrf_meta_tags
= yield :metatags
