!!! XML
!!!
%html
  %head
    = render partial: "layouts/metatags"
    = favicon_link_tag
%body
  %article
    %header
      = yield :header
    %section
      = yield
    %footer
      = render partial: "layouts/footer"
