!!! XML
!!!
%html
  %head
    = render partial: "layouts/metatags"

%body
  %article
    %header
      = yield :header
    - if flash[:notice]
      .notice= flash[:notice]
    %aside
      = yield :map
    = yield
    %footer
      = render partial: "layouts/footer"
