!!! XML
!!!
%html
  %head
    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag params[:controller]
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :metatags

%body
  %article
    %header#header= render partial: "layouts/header"
    %section#content
      - if flash[:notice]
        .notice= flash[:notice]
      = yield
    %footer#footer= render partial: "layouts/footer"
