!!! XML
!!!
%html
  %head
    = render partial: "layouts/metatags"

%body
  %article
    %header#header= render partial: "layouts/header"
    %section#content
      - if flash[:notice]
        .notice= flash[:notice]
      = yield
    %footer#footer= render partial: "layouts/footer"
